.cas-adspecs-heading{
/*   border-top:1px solid #e2e2e2;
  border-bottom:1px solid #e2e2e2; */
}
.cas-adspecs-body{
/* height:300px;
  border-bottom:1px solid #e2e2e2; */

}

.form-item-adspecs{
	p{
		font-size:18px !important;
	}
}

.cas-adspecs-menu{
  display:block;
  text-decoration:none;
  color:#000;
  font:300 18px "Lato", sans-serif;
  text-align:center;
  padding:20px 10px;
  text-align:center;
  border:1px solid #e9e9e9;
  margin:5px;
  cursor:pointer;
}
.cs-active{
  background:#e2e2e2;
}
.ad-specs-title{
   font:300 30px "Lato", sans-serif;
}
.ad-specs-subtitle{
   font:300 24px "Lato", sans-serif;
}


.cas-adspecs-box{
  border:4px solid red;
  min-height:300px;
  padding:30px;
    p{
      margin-bottom:10px;
  }
}

.form-item-red{
  background:red;
}

.text-white{
  color:#fff !important;
}

.text-red{
  color:#d8050e !important;
}
 